body{
font-family: 'Cabin', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
}
.header-bg-info{
    background: #264653;
}
.first-header-customize{
    color: #FFFFFF;
}
.second-header-customize{
    color: #E0E0E0;
}
.customizing-button{
background: #E76F51;
}
#customizing-first-main-part{
    color: #E76F51;
}
.grayscale-section{
    filter: grayscale(100%);
}
.customizing-text-color{
    color: #E76F51;
}
.bg-customizing{
    text-decoration: none;
    background-image: linear-gradient(green,yellow,red);
    padding: 2px;
    border-radius: 3px;
    size: 5px;
}